<wm-page name="page1" data-ng-controller="MainPageController">
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-composite name="composite1">
                <wm-label name="label1" class="col-md-3"></wm-label>
                <wm-container name="container1" class="col-md-9">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label name="label2" class="col-md-3"></wm-label>
                <wm-container name="container2" class="col-md-9">
                    <wm-text name="text2"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-button on-click="GoogleapisInvoke;notificationVariable1" name="button1" class="btn-default" caption="Button" type="button"></wm-button>
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1">
                    <wm-tabheader name="tabheader1"></wm-tabheader>
                    <wm-tabcontent name="tabcontent1">
                        <wm-list name="list1"></wm-list>
                    </wm-tabcontent>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
</wm-page>